//Custom variables

// Descriptive color variables

// Functional color variables

// Font stacks

// Asset paths
$path-image   :   '../img/';
// $path-fonts     :  '../fonts';

$black: #000;
$main-blue: #009FC1;
$main-gray: #434343;
$light-gray: #919191;
$dark-gray: #5D5D5D;
$bg-gray: #141414;